
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  .container {
    width: 350px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0px;
  }
  h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #4CAF50;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  form {
    padding: 20px;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button[type="submit"] {
    width: 135px;
  }
  button[type="submit"]:hover {
    opacity: 0.8;
  }
  #login{
    width: 120px;
    background-color: #45a049;
  }
  #message {
    text-align: center;
    color: red;
    margin-top: 10px;
  }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
